extends ../layouts/application

block content
  h1 Edit #{creature.name}

  form(action="/creatures/"+creature.name, method="POST")
    input(type="text", name="name" value=creature.name)
    input(type="text", name="power" value=creature.power)
    button(type="submit") update
