extends layouts/application

block content
  h1 Magical Creatures

  ul.creatures
    if creatures
      for creature in creatures
        li
          article.creature
            h3= creature.name

            p= `can use ${creature.power} to devastate its enemies`
